html {
  scroll-snap-type: y mandatory;
}

main {
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

article {
  scroll-snap-align: start;
  min-width: 100vw;
  height: 100vh;
}

article:nth-child(odd) {
  background-color: aqua;
}
